<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"></add>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<location path="API/v1">
		<system.webServer>
			<dataflexHttpModule application="ConferenceData" enabled="true" errortype="0" object="oMyRestAPI" verbs="*"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="ConferenceData" enabled="true" errortype="0" object="oWebResourceManagerProxy" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="WebServiceDispatcher.wso">
		<system.webServer>
			<dataflexHttpModule application="ConferenceData" enabled="true" errortype="1" object="oWebServiceDispatcher" verbs="GET,POST"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
