<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff"></add>
				<add name="X-Frame-Options" value="sameorigin"></add>
				<add name="X-XSS-Protection" value="1; mode=block"></add>
				<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"></add>
				<add name="Cache-control" value="no-cache"></add>
				<add name="Content-Security-Policy" value="default-src 'self'; font-src 'self' fonts.cdnfonts.com; img-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; frame-src 'self'; connect-src 'self' abs01.daelab.net;"></add>
				<add name="Permissions-Policy" value="camera=(), geolocation=(), microphone=()"></add>
				<add name="Referrer-Policy" value="same-origin"></add>
				<add name="Cross-Origin-Opener-Policy" value="same-origin"></add>
				<add name="Cross-Origin-Embedder-Policy" value="require-corp"></add>
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<mimeMap fileExtension=".flx" mimeType="application/dataflex"></mimeMap>
			<mimeMap fileExtension=".db" mimeType="application/sqlite"></mimeMap>
		</staticContent>
	</system.webServer>
</configuration>
